.app-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template:
        "output output history"
        "output output history"
        "input input variable"
        "input input variable";
}

.history-container {
    grid-area: history;
}

.solution-container {
    grid-area: output;
}

.variable-container {
    grid-area: variable;
}

.input-container {
    grid-area: input;
}
